<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="taqebostan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="taqebostan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="taqebostan.Properties.Settings.rptcnnstrPagesRank"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\reports.rpt"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <applicationSettings>
    <taqebostan.Properties.Settings>
      <setting name="taqebostan_taq_Management" serializeAs="String">
        <value>http://localhost:50559/taqebostan/management.asmx</value>
      </setting>
    </taqebostan.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <taqebostan.Properties.Settings>
      <setting name="LinkDialogURLs" serializeAs="String">
        <value />
      </setting>
    </taqebostan.Properties.Settings>
  </userSettings>
</configuration>