@charset "utf-8";
.dvMain {
	background-image: none !important;
}
.dvMenu {
	width: 188px !important;
	height: 173px !important;
}
#dvContentsInner {
	height: auto !important;
	height: 800px;	
}
.mnuNavBar a:hover, .mnuNavBar a:visited, .mnuNavBar a:actived {
	color: #000000 !important;
}
.dvCopyright a:hover, .dvCopyright a:visited, .dvCopyright a:actived {
	color: #FFFF00 !important;
}
#menu ul {
	margin-right: 20px !important;
}
.blackwhite li a {
	color: #000000 !important;
}
.blackwhite li a:hover {
	text-decoration: none !important;
	color: #EDF3FE !important;
}
.vertical li ul li {
	width: 189px !important;
}
.vertical.left ul ul ul,.vertical .left ul {
	left: -191px !important;
}
.dvCopyright p {
	font-size: 10px !important;
}
