@charset "utf-8";
html, body {
	margin: 0;
	background: #795549 url(bg_main.png) repeat-y center;
	font-family: Tahoma;
	direction: ltr;
}
#dvPreLoader {
	position: absolute;
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;
	background: url(prealpha.png) repeat;
	z-index: 999;
	margin: 0;
}
#loadingImage {
	position: absolute;
	border: 1px solid #FFFFFF;
	width:220px;
	height:19px;
	visibility:hidden;
}
#dvNoScript {
	font-family: Tahoma;
	font-size: 12px;
	line-height: 23px;
	color: #FFFFFF;
	text-align: center;
}
#dvNoScript a {
	text-decoration: none;
	color: #98AAFF;
}
#dvNoScript a:hover {
	border: none;
	color: #6B87FF;
}
#dvNoScript h4, #dvNoScript h5 {
	font-size: 12px;
	letter-spacing: 1px;
}